/*Ex: 1*/

/* #q1 {
    width: 90px;
    height:90px;
    background-color: blue;
    margin: 20px;
}
#q2 {
    width: 90px;
    height:90px;
    background-color: blueviolet;
    margin: 20px;
}
#q3 {
    width: 90px;
    height:90px;
    background-color: orange;
    margin: 20px;
} */